<html>  
<head>  
<title>Login</title>  
<link rel="stylesheet" href="static\style.css">
</head>  
<div class="panel">
		<div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>Hi Man!</h1></div>
    <form method="POST">
		<div class="form">
			<input placeholder='Username' type="text" name="Username">
			<input placeholder='Password' type="password" name="Password">
      <input placeholder='Url' type="text" name="Url">
	    <button class="login" type="submit" >Submit</button>
		</div>
    </form>
</div>
</body>  
</html>